/* HEADER */
.pattern{
    background-image: url(../img/pattern.png);
    background-size: 17%;
}
.logo{
    width: 165px;
    
}

.container{
    height: 80px;
    background-color: rgb(78 160 255);
}

/* MAIN  */
.main-title{
    margin-bottom: 0;
}

.writer {
    margin-top: 0;
    color: rgb(128 128 128);;
}

.color-booleaner{
    color: rgb(45 174 230);;
}

.small-text{
    margin-top: 0;
    font-size: small;
}

.color-paragraph{
    background-color: yellow;
}

.various-lorem{
    padding-inline-start: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* TABLE */
table{
    border-spacing: 0;
    text-align: left;
}

thead{
    background-color: rgb(0, 191, 255);
    color: white;
}

.color-line{
    background-color: aqua;
}

.little-cell{
    width: 20%;
}